@tailwind base;
@tailwind components;
@tailwind utilities;

/* Move the arrow to the right by default */
.login-btn svg {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}

/* Move the arrow back to the left when hovered */
.login-btn:hover svg {
  transform: translateX(8px);
}

.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #60B3D1;
}

select:required:invalid {
  color: gray;
}

option {
  color: black;
}